.homeText {
  color: white;
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px black;
}
#hw {
  display: none;
}

@media screen and (min-width: 420px) {
  .homeText {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-shadow: 4px 4px black;
    font-size: 3em;
  }
  #hw {
    display: contents;
  }
}
